<div class="container">
    <div class="row">
        <div class="col">
            <form action="/admin/novedades/modificar" method="post">
             <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Titulo</label>
  <input type="text" class="form-control" name="titulo" value="{{novedad.titulo}}">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Cuerpo</label>
  <textarea class="form-control"  rows="3" name="cuerpo">{{novedad.cuerpo}}</textarea>
</div>
<div class="col-auto">
                    <button type="submit" class="btn btn-success">Agregar</button>
                </div>
            </form>
            {{#if error}}
                 <p><br>{{message}}</p>
                {{/if}}

        </div>
    </div>
</div>