
<div class="container">
    <div class="row">
      <h3>Novedades</h3>
        <div class="col">
            <div class="col-2 ">
            <a href="/admin/novedades/agregar" class="btn btn-outline-success ">Nuevo <i class="fa-solid fa-plus"></i></a>

        </div>
            <table class="table table-striped">
                 <thead>
                   
    <tr class="table-light">
      <th scope="col">Titulo</th>
      <th scope="col">Cuerpo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
     {{#each novedades}}
    <tr class="table-light">
      <td>{{titulo}}</td>
      <td>{{cuerpo}}</td>
      <td>
          <a href="/admin/novedades/modificar/{{id}}" class="btn btn-secondary"><i class="fa-solid fa-pencil"></i></a>
        <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-secondary"><i class="fa-solid fa-trash-can"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
        </div>
    </div>
</div>